:root {
    --bg-gradient: radial-gradient(ellipse at center, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);
    --bg-gradient2: radial-gradient(ellipse at center, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(40,52,59,1) 100%);
    --shadow-bold: 4px 3px 3px #00FF00;
    --shadow-slim: 2px 1px 1px #00FF00;
    --radius-10: 10px;
    --radius-30: 30px;
}
@keyframes addElement {
  from {opacity: 0;}
  to {opacity: 0.9;}
}
@keyframes delElement {
  from {opacity: 1;}
  to {opacity: 0;}
}
html, body {
    height: 100%;
}
body {
    background: var(--bg-gradient)!important;
    background-image: url(https://a-bank.com.ua/img/4e3916b8a5107ccc2cc9e964b24bc6ac.jpg);
    font-family: Arial, sans-serif;
}
.topNavbar {
    box-shadow: var(--shadow-bold);
    text-shadow: 0.1px 0.1px 10px #00FF00;
}
.logo img {
    color: #00FF00;
    text-shadow: var(--shadow-slim);
}
.title {
    margin-left: 25%;
    color: #00FF00;
    box-shadow: var(--shadow-slim);
    border-radius: var(--radius-30);
}
.dropdown:hover > .dropdown-menu {
    display: block;
    margin: 0;
    background: var(--bg-gradient2);
    border-radius: var(--radius-10);
    box-shadow: var(--shadow-bold);
    animation-name: addElement;
    animation-duration: 1s;
    opacity: 0.9;
}
.dropdown-item:hover {
    background: var(--bg-gradient);
    box-shadow: var(--shadow-slim);
    border-radius: var(--radius-10);
}
.creditCalculator {
    margin: 2% 1%;
    padding: 2% 1%;
    border: 3px solid #008000;
    border-radius: var(--radius-30);
    box-shadow: var(--shadow-bold);
    animation-name: addElement;
    animation-duration: 2s;
}
.form-block {
    width: 100%;
    border: 3px solid #008000;
    border-radius: var(--radius-30);
    box-shadow: var(--shadow-bold);
}
.form-item {
    font-size: 12px;
}
.productName {
    text-align: center;
    text-shadow: 2px 1px 1px #006400;
    opacity: 0.7;
}
input, select {
    box-shadow: var(--shadow-slim);
}
select option:hover {

}
input:hover, select:hover {
    box-shadow: var(--shadow-bold) !important;
}
input:focus, select:focus {
    box-shadow: var(--shadow-bold) !important;
    border-radius: var(--radius-10);
}
.btn-container {
    margin: 10px;
    width: 100%;
    text-align: center;
}
.btn-container button, .delRow {
    background: var(--bg-gradient);
    opacity: 0.7;
    box-shadow: var(--shadow-bold);
    border-radius: var(--radius-10);
    text-shadow: var(--shadow-slim);
}
.btn-container button:hover, .delRow:hover {
    box-shadow: 4px 3px 1px #00FF00;
    background: var(--bg-gradient);
    border-radius: var(--radius-30);
    transition: 2s;
}
.btn-container button:active, .delRow:active {
    color: #00FF00;
}
tr {
    animation-name: addElement;
    animation-duration: 1s;
    opacity: 1;
}     
